* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D202F;
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #1D202F;
}

::-webkit-scrollbar-thumb {
    background: #edb820;
    border-radius: 15px;
}